@font-face {
  font-display: swap;
  font-family: Kia Signature Fix;
  src: url(/fonts/KiaSignatureFixOTFLight.woff2) format("woff2");
  font-weight: 300;
}
@font-face {
  font-display: swap;
  font-family: Kia Signature Fix;
  src: url(/fonts/KiaSignatureFixOTFRegular.woff2) format("woff2");
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-family: Kia Signature Fix;
  src: url(/fonts/KiaSignatureFixOTFBold.woff2) format("woff2");
  font-weight: 600;
}

body {
  font-family: "Kia Signature Fix", Arial, sans-serif;
}
